
@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/SF-Pro-Text-Regular.woff) format("woff2");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/SF-Pro-Text-Medium.woff) format("woff2");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/SF-Pro-Text-Semibold.woff) format("woff2");
}

@font-face {
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/SF-Pro-Text-Bold.woff) format("woff2");
}
