@import "tailwindcss";

:root {
  --bg-black: #0C0C0C;

  --text-1: #070707;
  --text-2: #393A39;

  --gray-1: #DCDCDC;
  --gray-2: #A5A5A5;
  --gray-3: #787878;
  
}

@theme inline {
  --color-bg-black: var(--bg-black);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);

  --tracking-one: 0.01em;
  --tracking-two: 0.02em;
  --tracking-three: 0.03em;
  --tracking-four: 0.04em;
}

html {
    scrollbar-width:thin;
    
    font-size:calc(10 * 100vw / 1440);
    font-family: "SF Pro", sans-serif;

    text-align:left;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

}

/* @media (min-width: 1920px) {
  html {
    font-size:10px;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-size: 1.6rem;
}

body.overflow-hidden {
  overflow: hidden;
}

body::before {
  filter: url(#noise_body);
}

body::before,
body::after {
  content: "";
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000000;
}

/* Sticky card styles */
.sticky-content {
  width: 100%;
  position: sticky;
  top: 0;
  --offset: 0px;
  top: var(--offset);
  min-height: max-content;
  height: calc(50vw - var(--offset));
}

/* Apply increasing offset for each next card */
.sticky-content:nth-child(1) {
  --offset: 0;
}

.sticky-content:nth-child(2) {
  --offset: 8rem;
}

.sticky-content:nth-child(3) {
  --offset: 20rem;
}

.sticky-content:nth-child(4) {
  --offset: 100rem;
}


/* HERO IMAGE STYLES */

.hero_img_box:hover > img {
  /* @apply animate-pusle-image-animation; */
  /* filter: url(#noise_hero_image); */
}

/* NOTE */
/* 16px ~ 1vw */

/* custom aspect  with fallback */
.custom_main_img_aspect {
  aspect-ratio: 1.75/1;
}

@supports not (aspect-ratio: 1.6 / 1) {
  /* .custom_main_img_aspect::before {
    float: left;
    padding-top: 50%;
    content: "";
  }
  .custom_main_img_aspect::after {
    display: block;
    content: "";
    clear: both;
  } */
}
